@model IEnumerable<Character>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Characters</h2>

<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
    <tr>
        <th>
            Character Name
        </th>
        <th>
            HP
        </th>
        <th>
            Strength
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach(var obj in Model)
    {
        <tr>
            <td width="50%">
                @obj.Name
            </td>
            <td width="30%">
                @obj.HP
            </td>
            <td width="30%">
                @obj.Strength
            </td>
        </tr>
    }
    </tbody>
</table>