@{
    ViewData["MVC Battler"] = "Home Page";
}

<div class="pt-5">
    <div class="container text-center p-5">
        <h1>MVC_Battler</h1>
    </div>
</div>

<div class="row text-center pb-5">
    <div class="col-3"></div>
    <div class="col">
        <a class="btn btn-primary d-grid align-content-center" style="height: 150px; font-size: xx-large" asp-controller="Character" asp-action="Selection">Battle!</a>
    </div>
    <div class="col-3"></div>
</div>
<div class="row text-center pb-5">
    <div class="col-3"></div>
    <div class="col">
        <a class="btn btn-primary d-grid align-content-center" style="height: 150px; font-size: xx-large" asp-controller="Character" asp-action="Create">Create a Character</a>
    </div>
    <div class="col-3"></div>
</div>
<div class="row text-center pb-5">
    <div class="col-3"></div>
    <div class="col">
        <a class="btn btn-primary d-grid align-content-center" style="height: 150px; font-size: xx-large" asp-controller="Character" asp-action="Index">Review Characters</a>
    </div>
    <div class="col-3"></div>
</div>